[submodule "packages/tailwind-firebase-nextjs-referrel-system"]
	path = packages/tailwind-firebase-nextjs-referrel-system
	url = https://github.com/Nathanofzion/tailwind-firebase-nextjs-referrel-system.git
